

.img-item{
    transition: .5s ease all;
}

.img-item:hover{
    background-color: rgba(9, 59, 117, 0.753);
}


/* CSS */
.button-70 {
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-green {
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%)
}
.button-blue {
    background-image: linear-gradient(#0dccea, #0d70ea);
}