
:root {
/* =========Colors ========= */
/*Color mode HSLA(hue, saturation, lightness, opacity)*/
/* 
rojoClaro: hsla(349, 57%, 43%, 0.922)
  
azulOscuro: hsl(197, 37%, 15%);
verdeMarino: hsl(201, 13%, 22%);
*/
--first-hue: 349;
--sat: 57%;
--lig: 43%;
--opa: 1;
--first-color: hsla(var(--first-hue), var(--sat), var(--lig), var(--opa));
--title-color:  hsl(201, 13%, 22%);

/* --text-color: */
--blanco: #ffffff;
--negro: #000000;
--gris: #e6e5e5;
--grisOscuro: #87878a;
--azulRey: #2e3747;
--verdeOliva:  hsl(199, 15%, 28%);
--verdeClaro: #417932f5;

--logo: var(--blanco);
--logo-span: var(--negro);
--logo-span-bg: rgb(227, 221, 104);

  

    
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
}
/* Globales */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--textFont);
    /* background-color: var(--gris); */
    background-image: linear-gradient(to top, var(--blanco),var(--gris)80%, var(--blanco));
}
/* Utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.grid {
    display: grid;
    gap: 1.25rem;
}
/*==============================HEADER============================*/
.header{
    background-color: var(--rojoClaro);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.header-container{
    display: flex;
    flex-direction: column;
}
.header-enlaces {
    display: flex;
    justify-content: end;
    padding-bottom: .5rem;

}
.header-carrito {
    display: grid;
    align-items: center;
    padding-right: .5rem;
}
@media (min-width: 992px ) {
    .header-container{
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .header-enlaces{
        flex: 0 0 207px;
    }
   .header-top{
   padding: 1rem 0;
    flex: 1;
   }
}
.header-top {
    padding-bottom: 1rem;
    flex-direction: column;
    
}
@media (min-width: 768px) {
    .header-top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.heading-font{
    font-family: var(--headingFont);
    font-weight: 700;
    color: var(--gris);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    
    padding-right: 1rem;
    padding-top: .5rem;
    margin-bottom: 1rem;
}
.heading-font span {
    font-size: 1.8rem;
    background-color: #e3dc67;
    border-radius: .1rem;
    padding: .5rem;
    color: #000000;
    
}

@media (min-width: 768px) {
    .form-busqueda{
        width: 60%;
    }
    
}
.form-container{
    display: flex;
    justify-content: center;
    
}
.form-div-busqueda:first-child {
    width: 80%;
    text-align: end;
}

.form-div-busqueda input[type="text"]{
    width: 95%;
    font-family: var(--textFont);
    border: 1px solid var(--gris);
    border-radius: 1rem 0 0 1rem;
    padding: 0.5rem 0.8rem ;
    transition: .2s;
}
.form-div-busqueda input[type="text"]:focus {
    outline: 2px solid rgb(1, 112, 248) ;
    width: 100%;
}

/* ======================================BANNER======================== */

.portadas{
    position: relative;
    width: 100%;
    height: 35rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);

    background-repeat: no-repeat;
    background-size: cover;
}
.portadas-container{
    position: absolute;
    /* background-color: rgba(0,0,0,.1); */
    width: 100%;
    height: 100%;
}

.portada-1{
    background-image: url(../assets/img/banner1.jpg);
    background-position: center center;
}
.portada-2{
    background-image: url(../assets/img/banner2.jpg);
    background-position: center center;
}
.portada-3{
    background-image: url(../assets/img/banner3.jpg);
    background-position: 15% 15%;
}
.portada-4{
    background-image: url(../assets/img/banner4.jpg);
    background-position: 30% 30%;
}
.portada-container__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.portada-header{
    color: var(--blanco);
    font-family: var(--headingFont);
    font-weight: 700;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.portada-header span {
    background-color: #DE3C4B;
    /* background-color: #c31b2c; */
    border-radius: .2rem;
    font-size: 1rem;
    text-shadow: initial;
    font-weight: 400;
    text-transform: capitalize;
    padding: .5rem ;
}
@media (min-width: 768px) {
    .portada-header{
        font-size: 2.2rem;
    }
}
/*===================================CATEGORIAS===================*/
.categoria-header{
    font-family: var(--textFont);
    font-weight: 900;
    color: var(--verdeOliva) ;
    font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
}
@media (min-width: 992px) {
    .categoria-header{
        font-size: 3rem
    } 
}
@media (min-width: 768px) {
    .categoria-header{
        font-size: 2.5rem;
    }
}
/* ====================================CARDS===========================*/
.card-contenedor {
    position: relative;
     z-index: 1;
     margin-bottom: 1rem;
     transform: translateY(10px);
     transition:  transform .5s, box-shadow .6s, height .5s;
     cursor: pointer;
    }
.card-contenedor:hover{
    box-shadow: -13px 0px 38px -20px rgba(0,0,0,0.5);
    transform: translateY(0px);
    height: 100%;
}
.card-header__font{
    font-family: var(--textFont);
    font-weight: 700;
    color: var(--azulRey);
    font-size: 1.1em;
    text-transform: capitalize;
    text-align: center;
}
.card-header__img{
    max-width: 100%;
}
.card-body__contenedor{
    position: relative;
}
.card-descuento__texto{
    position: relative;
    z-index: -1;
    transform: translateY(-60px);
    font-size: 1rem;
    color: var(--verdeClaro);
    font-family: var(--textFont);
    font-weight: 700;
    transition: transform .5s;
}
.card-contenedor:hover .card-descuento__texto{
    transform: translateY(0px);
}
.card-descuento__precio{
    color: var(--grisOscuro);    
    text-decoration-line: line-through;
    font-size: 1.3rem;
    transition: font-size .5s;
}
.card-precio {
    font-family: var(--textFont);
    font-weight: 700;
    color: var(--azulRey);
    font-size: 1rem;
    text-transform: capitalize;
    position: relative;
    transform: translateY(-30px);
    transition: transform .5s ease;
}

@media (min-width: 768px) {
    .card-precio{
        transform: translateY(-40px);  
    }
}
.card-botones{
    display: flex;
    flex-direction: column;
    transition: transform .4s ease;
    padding-bottom: 1rem;
}
.card-contenedor:hover .card-botones{
    transform: translateY(10px);
}
.card-contenedor:hover .card-precio {
    transform: translateY(0px);
}
 /*¨=========================================FOOTER============================================ */
.footer{
    background-color: var(--rojoClaro);
    padding: 2rem 0;
    margin-top: 1rem;
}
.footer-container {
    padding: 1.5rem ;
    row-gap: 2rem;
}
@media (min-width: 768px) {
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
.footer-titulo{
    text-align: left;
}
.footer-header p {
    color: var(--gris);
} 

.footer-redes_link {
    width: 100%;
    font-size: 1.4rem;
    background-color: #f7f1f1;
    padding: .25rem;
    border-radius: .25rem;
    transition: .3s;
    margin-right: .4rem;
}
.footer-redes_link:hover {
    background-color: #ffffff;

}

.footer-contacto h2 {
    font-family: var(--textFont);
    font-weight: 400;
    font-size: 1.5rem;
    color: #f0f04cd3;
}
.footer-contacto span {
    font-family: var(--headingFont);
    font-weight: 900
}
.footer-contacto-card{
    display: grid;
    grid-template-columns: 6% 50%;
    gap: 1rem;
    margin-bottom: .2rem;

    color: rgb(53, 51, 51);
    background-color: rgba(235, 229, 229, 0.11);
    padding: 1rem;
    font-family: var(--textFont);
    font-size: .8rem;
}
.footer-contacto-icono {
    display: grid;
    text-align: center;
    align-items: center;
}
.footer-contacto-icono i {
    font-size: 1.4rem;
}
.footer-contacto-informacion h4 {
    font-size: 1.2rem;
    font-weight: 700;
}
.footer-contacto-informacion span {
    color: #c5ebead6;
    font-size: 1rem;
}
/* =============================CARRITO-PRINCIPAL================== */
.principalcarrito {
    margin-top: 3rem;
    width: 100%;
    min-height: 550px;
    padding: 3rem;
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.principalcarrito table {
    width: 80%;
    min-width: 600px;
    /* align-self: center; */
}
.principalcarrito-botones {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .principalcarrito{
        align-items: center;
    }
    .principalcarrito-botones {
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }
}
.principalcarrito-botones button, .boton-compra {
    width: 300px;
}
.principalcarrito-botones .boton-compra {
    margin-right: 1rem;
}
.principalcarrito-boton--notificacion{
    text-align: center;
    margin-top: 2rem;
    
}
/* =====================PAGINA-CARRITO================================ */
.carrito-contador{
    display: flex;
    justify-content: center;
}
/*======================ICONO CARRITO=================================  */

.submenu{
    position: relative;
}
.submenu .carrito {
    display: none;
}
.submenu:hover .carrito {
    display: block;
    position: absolute;
    right: -8rem;
    top: 100%;
    z-index: 10;
    padding: 5px;
    background-color: white;
    max-height: 500px;
    *overflow: auto;
    min-width: 300px;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.74);
}
@media (min-width: 576px) {
    .submenu:hover .carrito{
        right: -4rem;
    }
}

.carrito table{
    text-align: center;
}
.carrito thead{
    border-bottom: solid 1px #d9dadd ;
}
.iconoCarrito-botones{
    display: grid;
    row-gap: .2rem;
    
}
.carrito th {
    padding: 12px 15px;
}
.carrito th:first-child{
    padding: 12px 15px 12px 0px;
} 

.carrito td {
    margin-top: 1rem;
    border-bottom: solid 1px #d9dadd ;
    padding: 1rem 0;
}

.borrar-curso{
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* ========================PAGAR============= */
.pagar{
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagar-contenedor {
    background-color: var(--blanco);
    max-width: 500px;
    width: 95%;
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.pagar-contenedor h2 {
    font-family: var(--textFont);
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--verdeClaro);
    text-transform: uppercase;
    margin-bottom: 2rem;

}
.pagar-contenedor hr {
    /* border: dotted  #3a95e5df  6px; */
    border: dotted  #000000  6px;
    border-bottom: none;
}
.pagar-contenedor h3 {
    font-family: var(--textFont);
    font-weight: 700;
    font-size: 1rem;
    color: #000000c2;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: end;
    margin-right: 1rem;

}
.pagar-contenedor h3 span {
    color: var(--verdeClaro);
    font-size: 1.2rem;
}
/* ========ARTICULO PAGAR =============== */

.articuloPagar{
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: .2rem;
    gap: 1rem;

    /* color: rgb(53, 51, 51); */
    color: rgb(98, 98, 86);
    background-color: rgba(58, 149, 229, 0.137);
    padding: 1rem;
    font-family: var(--textFont);
    font-size: .9rem;
    border-radius: .5rem;
}
.articuloPagar-img {
    display: grid;
    align-items: center;
    justify-self: center;
}
.articuloPagar-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.articuloPagar-informacion h4 {
    font-size: 1.2rem;
    font-weight: 700;
}
.articuloPagar-informacion ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
@media (min-width: 575px ) {
    .articuloPagar-informacion ul{
        flex-direction: row;
    }
}
.articuloPagar-informacion li {
    margin-right: 1rem;
}
.articuloPagar-informacion span {
    font-weight: 700;
}
.articuloPagar-informacion_total {
    color: var(--verdeClaro);
    font-size: 1rem;
}

.borrar-curso{
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.mensaje{
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: 30;
    display: inline;
    padding: 1rem ;
    background-color: var(--azulRey);
    color: white;
    border-radius: 5px;
    opacity: 0.9;
}

.form-usuario {
    background-color: var(--verdeOliva);
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-form {
    padding: 3rem 2rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 10px;
}
.campo-form {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.campo-form:last-of-type {
    margin: 0;
}
.campo-form label {
    flex: 0 0 100px;
    font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 10px;
  flex: 1;
}
.enlace-cuenta {
    margin-top: 1rem;
    display: block;
    width: 40%;
    opacity: .7;
    text-decoration: none;
    color: var(--azulRey);
    transition: .3s;
}
.enlace-cuenta:hover {
    color: rgba(175, 175, 81, 0.913);
}
.sombra-dark {
    -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  }

  /* Botones */
.bton {
    margin-top: 20px;
    font-family: var(--headingFont);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    transition: background-color .3s ease;
}
.bton:hover {
    cursor: pointer;
    
}
.btn-primario{
    background-color: var(--azulRey);
    color: var(--blanco)
}

.bton-block {
    display: block;
    width: 100%;
}
.bton--busqueda{
    margin: 0;
    padding: 0 1rem;
    border-radius: 0 1rem 1rem 0;
    background-color: #DE3C4B;
    color: var(--blanco);
    height: 100%;
    font-weight: 400;
}

/* stilos botones logout login y reguster */

.button-8 {
  background-color: #b30f25;
  border-radius: 3px;
  border: 1px solid #b30f25;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 5px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #080101d2;
  border: 1px solid #080101;
  color: white;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.variante {
  background-color: #0f64b3;
  border: 1px solid #0f64b3;
}

/** GG */

.sections-links {
    transition: .7s ease all;
}

.sections-links::-webkit-scrollbar {
    width: 13px;     /* Tamaño del scroll en vertical */
    height: 13px;    /* Tamaño del scroll en horizontal */
    transition: 1s ease all;
  }
  .sections-links::-webkit-scrollbar-thumb {
    background: #747373;
    border-radius: 4px;
    transition: 1s ease all;
  }
  .sections-links::-webkit-scrollbar-thumb:hover {
    background-color: '#0093E9';
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .sections-links::-webkit-scrollbar-thumb:active {
    background-color: '#0093E9';
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  .sections-links::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  .sections-links::-webkit-scrollbar-track:hover,
  .sections-links::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }

  .zoomed-image {
    background-size: cover;
    cursor: pointer;
 }



/* CSS */

.color-azul-rojo {
    background: linear-gradient(180deg, #f74b54 0%, #f63636 100%);
}

.color-azul-azul {
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
}

.color-azul-verde {
    background: linear-gradient(180deg, #34c247 0%, #23e65e 100%);
}

.button-10 {
 text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.box-icono-productos::-webkit-scrollbar {
    width: 13px;     /* Tamaño del scroll en vertical */
    height: 13px;    /* Tamaño del scroll en horizontal */
    transition: 1s ease all;
  }
  .box-icono-productos::-webkit-scrollbar-thumb {
    background: #747373;
    border-radius: 4px;
    transition: 1s ease all;
  }
  .box-icono-productos::-webkit-scrollbar-thumb:hover {
    background: #0275d8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .box-icono-productos::-webkit-scrollbar-thumb:active {
    background-color: #0275d8;
  }
  .box-icono-productos::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  .box-icono-productos::-webkit-scrollbar-track:hover,
  .box-icono-productos::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
